
.container1{
    width: 100%;
}
.container{
    height: 600px;
}
.form-control{
   border-radius: 50px;
}
input[type=text]{
    width: 100%;
    border: 2px solid black;
}
input[type=password]{
    width: 100%;
    border: 2px solid black;
}