<section class="container1">
    <div style="border: 5px solid #05445E; border: radius 5px;background-color:#a8d2fa;text-align: center;" id="header">
        <h1 style="font-size:3.2rem;letter-spacing:1;color:black;font-weight: 900;font-family: 'Bebas Neue', cursive">
            WELCOME ADMIN</h1>
    </div>
    <br><br>
    <div class="container">
        <div class="leftpane">
            <button class="btn-warning" routerLink="/admin/details">Go to User details</button>
        </div>
        <div class="middlepane">
            <button  class="btn-danger" routerLink="/admin/coupons">Go to Coupons details</button>
        </div>
        <div class="rightpane">
            <button  class="btn-success" routerLink="/admin/deals">Go to Deals details</button>
        </div>
    </div>
</section>